[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pandas = "*"
requests = "*"
ipykernel = "*"
nb-black = "*"
pymongo = "*"
flask = "*"
bs4 = "*"
splinter = "*"
lxml = "*"
numpy = "*"
html5lib = "*"
libxml2-python3 = "*"
Flask-PyMongo = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
